
<!DOCTYPE html>
{% load static %}


<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="Welcome to Rakon Multi-Purpose HTML5 Templates RTL Supported, built with HTML, JS, SASS, CSS3 and jQuery, RTL Supported, Easy User Experience and Responsive to all devices" />
  <meta name="keywords"
    content="HTML, CSS, JavaScript, Bootstrap, jQuery, Rakon, Themeforest, Template, envato, SASS, SCSS, HTML5, landing page, SaaS Product, SaaS Modern,  MultiPurpose, Crypto, Currency, ICO, Hosting, Agency, Mobile, App, Interior, Charity" />
  <meta name="author" content="Rakon - Creative Multi-Purpose HTML5 Templates" />

  <title>BizBiz</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'assets/frontend/img/favicon.ico' %}" type="image/x-icon" />
  <!-- Bootstrap 4.5 -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/bootstrap.min.css' %}" type="text/css" />
  <!-- animate -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/animate.css' %}" type="text/css" />
  <!-- Swiper -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/swiper.min.css' %}" />
  <!-- icons -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/icons.css' %}" type="text/css" />
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/aos.css' %}" type="text/css" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/main.css' %}" type="text/css" />
  <!-- normalize -->
  <link rel="stylesheet" href="{% static 'assets/frontend/css/normalize.css' %}" type="text/css" />

  <!-- js for Brwoser -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="signup_full bg_dark">

  <!-- Start form_signup_onek -->
  <section class="form_signup_one signup_two">
    <div class="container">
      <div class="row">
          {% block content %}
            
          {% endblock content %}
          <!-- Start item_footer -->
          <div class="item_footer text-center margin-t-3">
            <div class="container">
              <p>© {% now "Y" %} <a href="https://themeforest.net/user/orinostu" target="_blank">Neotelabs</a>
                All Right Reseved
              </p>
            </div>
          </div>
          <!-- End. item_footer -->

        </div>
      </div>

    </div>
  </section>
  <!-- End.form_signup_one -->


  <!-- Back to top with progress indicator-->
  <div class="prgoress_indicator">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>

  <!-- Purchase item -->
  <a href="https://themeforest.net/item/rakon-html-landing-page-templates/27849521" target="_blank"
    class="rakon_purchase">
    <button type="button" class="btn btn_purch">
      <div class="icon">
        <img src="{% static 'assets/frontend/img/rakon/envato.svg' %}" />
      </div>
      <span class="txt">Chat</span>
    </button>
  </a>
  <!-- End. -->


  <!-- jquery -->
  <script src="{% static 'assets/frontend/js/jquery-3.5.0.js' %}" type="text/javascript"></script>
  <!-- jquery-migrate -->
  <script src="{% static 'assets/frontend/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <!-- popper -->
  <script src="{% static 'assets/frontend/js/popper.min.js' %}" type="text/javascript"></script>
  <!-- bootstrap -->
  <script src="{% static 'assets/frontend/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <!--
  ============
  vendor file
  ============
   -->
  <!-- particles -->
  <script src="{% static 'assets/frontend/js/vendor/particles.min.js' %}" type="text/javascript"></script>
  <!-- TweenMax -->
  <script src="{% static 'assets/frontend/js/vendor/TweenMax.min.js' %}" type="text/javascript"></script>
  <!-- ScrollMagic -->
  <script src="{% static 'assets/frontend/js/vendor/ScrollMagic.js' %}" type="text/javascript"></script>
  <!-- animation.gsap -->
  <script src="{% static 'assets/frontend/js/vendor/animation.gsap.js' %}" type="text/javascript"></script>
  <!-- addIndicators -->
  <script src="{% static 'assets/frontend/js/vendor/debug.addIndicators.min.js' %}" type="text/javascript"></script>
  <!-- Swiper js -->
  <script src="{% static 'assets/frontend/js/vendor/swiper.min.js' %}" type="text/javascript"></script>
  <!-- countdown -->
  <script src="{% static 'assets/frontend/js/vendor/countdown.js' %}" type="text/javascript"></script>
  <!-- simpleParallax -->
  <script src="{% static 'assets/frontend/js/vendor/simpleParallax.min.js' %}" type="text/javascript"></script>
  <!-- waypoints -->
  <script src="{% static 'assets/frontend/js/vendor/waypoints.min.js' %}" type="text/javascript"></script>
  <!-- counterup -->
  <script src="{% static 'assets/frontend/js/vendor/jquery.counterup.min.js' %}" type="text/javascript"></script>
  <!-- charming -->
  <script src="{% static 'assets/frontend/js/vendor/charming.min.js' %}" type="text/javascript"></script>
  <!-- imagesloaded -->
  <script src="{% static 'assets/frontend/js/vendor/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
  <!-- BX-Slider -->
  <script src="{% static 'assets/frontend/js/vendor/jquery.bxslider.min.js' %}" type="text/javascript"></script>
  <!-- Sharer -->
  <script src="{% static 'assets/frontend/js/vendor/sharer.js' %}" type="text/javascript"></script>
  <!-- sticky -->
  <script src="{% static 'assets/frontend/js/vendor/sticky.min.js' %}" type="text/javascript"></script>
  <!-- Aos -->
  <script src="{% static 'assets/frontend/js/vendor/aos.js' %}" type="text/javascript"></script>
  <!-- main file -->
  <script src="{% static 'assets/frontend/js/main.js' %}" type="text/javascript"></script>
</body>

</html>