{% load django_ledger %}
{% load i18n %}
{% if not create_invoice %}
{% if style == 'dashboard' %}

<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
    <div class="iq-card-body">
        <div class="top-block d-flex align-items-center justify-content-between">
            <h5>{% trans 'Invoice' %}</h5>
            {% if not invoice.is_past_due %}
            <span class="badge badge-primary">Due in: {{ invoice.due_date | timeuntil }}</span>
        {% else %}
        <span class="badge badge-danger">Past
            Due: {{ invoice.due_date | timesince }} ago</span>
        {% endif %}
            
        </div>
        <h3 class="title">{{ invoice.customer.customer_name }}</h3>
        <p class="subtitle text-weight-light">{{ invoice.customer.address_1 }}</p>
        
        {% if invoice.accrue %}
        <p>Accrue: Accring
            {% else %}
            <p>Accrue:
                Not Accring 
                {% endif %}
                <p class="is-size-5 text-primary">Owed to You:
                    {% currency_symbol %}{{ invoice.get_amount_open | currency_format }}</p>
                <p>Amount Paid: {% currency_symbol %}{{ invoice.amount_paid | currency_format }}</p>
                <p>Progressed: {{ invoice.get_progress | percentage }}</p><br>
                {% comment %} <progress class="progress is-medium is-primary" value="{{ invoice.get_progress_percent }}"
                    max="100">{{ invoice.get_progress | percentage }}
                </progress> {% endcomment %}
                
                <div class="iq-progress-bar mt-3">
                    <span class="bg-primary" data-percent="{{ invoice.get_progress| percentage }}" style="transition: width 2s ease 0s; width: {{ invoice.get_progress| percentage }};"></span>
                 </div>
                 <br>
                {# MARK AS PAID MODAL #}
                {% modal_action invoice 'get' entity_slug %}

                <footer class="d-flex align-items-center justify-content-between">
                    <a href="{% url 'django_ledger:invoice-detail' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
                        class="card-link">{% trans 'View' %}</a>
                    <a href="{% url 'django_ledger:invoice-update' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
                        class="card-footer-item text-warning-dark text-centered">{% trans 'Update' %}</a>
                    {% if not invoice.paid %}
                    <a onclick="djLedger.toggleModal('{{ invoice.get_html_id }}')"
                        class="card-footer-item text-info text-centered">{% trans 'Mark as Paid' %}</a>
                    {% endif %}
                </footer>
            
    </div>
</div>


{% elif style == 'invoice-detail' %}
<div class="card">
    <div class="card-header">
        <h2 class="card-header-title text-weight-light is-size-3">
            <span class="icon is-large">
                {% icon 'uil:bill' 36 %}</span>
            {% trans 'Invoice Info' %}</h2>
    </div>
    <div class="card-content">

        {% if invoice.paid %}
        <p class="is-size-3 text-dark">Is Paid
            <span class="icon is-large text-primary-dark">
                {% icon 'ant-design:check-circle-filled' 48 %}
            </span>
        </p>
        <p class="is-size-4">Amount Paid:
            <span class="text-weight-bold">{% currency_symbol %}{{ invoice.amount_paid | currency_format }}</span>
        </p>
        {% else %}
        <p class="is-size-3 text-dark">Invoice Amount:
            <span class="text-weight-bold">{% currency_symbol %}{{ invoice.amount_due | currency_format }}</span>
        </p>
        <p class="is-size-4">Invoice Status: {{ invoice.get_invoice_status_display }}</p>
        {% if not invoice.is_past_due %}
        <p class="is-size-4 text-info">Due in: {{ invoice.due_date | timeuntil }}</p>
        {% else %}
        <p class="text-danger text-weight-bold is-size-3">Past
            Due: {{ invoice.due_date | timesince }} ago</p>
        {% endif %}
        <p class="is-size-5 text-primary">Owed to You:
            {% currency_symbol %}{{ invoice.get_amount_open | currency_format }}</p>

        {% if invoice.accrue %}
        <p>Accrue: <span class="icon text-primary">{% icon 'ant-design:check-circle-filled' 24 %}</span>
        </p>
        {% else %}
        <p>Accrue:
            <span class="icon is-small text-danger">{% icon 'maki:roadblock-11' 24 %}</span>
        </p>
        {% endif %}
        <p>Amount Paid: {% currency_symbol %}{{ invoice.amount_paid | currency_format }}</p>
        <p>Progressed: {{ invoice.get_progress_percent }}%</p><br>
        <progress class="progress is-medium is-primary" value="{{ invoice.get_progress_percent }}" max="100">
            {{ invoice.get_progress | percentage }}
        </progress>

        {% endif %}

        {# MARK AS PAID MODAL #}
        {% modal_action invoice 'get' entity_slug %}

    </div>
    <footer class="card-footer">
        <a href="{% url 'django_ledger:invoice-update' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
            class="card-link">{% trans 'Update' %}</a>
        {% if not invoice.paid %}
        <a onclick="djLedger.toggleModal('{{ invoice.get_html_id }}')"
            class="card-footer-item text-info text-centered">{% trans 'Mark as Paid' %}</a>
        {% endif %}
        <a href="{% url 'django_ledger:invoice-delete' entity_slug=entity_slug invoice_pk=invoice.uuid %}"
            class="card-footer-item text-danger text-centered">{% trans 'Delete' %}</a>
    </footer>
</div>

{% endif %}
{% else %}
<div class="box text-centered">
    <a href="{% url 'django_ledger:invoice-create' entity_slug=entity_slug %}">
        <h2 class="is-size-3 text-grey">{% trans 'New Invoice' %}</h2>
    </a>
</div>
{% endif %}