{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-md-7 col-lg-5 mx-auto">
    <div class="item_group">
      <form action="" class="row" method="post">
          {% csrf_token %}
        <div class="col-12">
          <div class="title_sign">
            <h2>Login</h2>
            <p>Please Enter your email address or username</p>
          </div>
        </div>
        <div class="col-12">
          {{ form|crispy }}
        </div>

        <div class="col-12">
            <input type="submit" value="Login" class="btn w-100 btn_account bg-orange-red c-white rounded-8">
        </div>

        <div class="col-12">
            <div class="mt-3">
                <a href="{% url 'account_reset_password' %}" class="d-flex justify-content-end font-s-13 c-blue">Forgot Password?</a>
              </div>
        </div>

      </form>

      <div class="col-12">
        <div class="google_sign margin-t-3">
          <p class="text-center font-s-13 c-gray margin-b-3">Or Sign Up With E-Mail</p>
          <button type="button" class="btn btn_social rounded-8 mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25">
              <g id="Group_6390" data-name="Group 6390" transform="translate(-595 -504)">
                <circle id="Ellipse_227" data-name="Ellipse 227" cx="12.5" cy="12.5" r="12.5" transform="translate(595 504)" fill="#fff"></circle>
                <g id="brands-and-logotypes" transform="translate(598.096 507.096)">
                  <path id="Path_1609" data-name="Path 1609" d="M4.344,105.854a4.893,4.893,0,0,1,.693-2.515v-3.124H1.912a9.272,9.272,0,0,0,0,11.279H5.036v-3.124A4.893,4.893,0,0,1,4.344,105.854Z" transform="translate(0 -96.587)" fill="#fbbd00"></path>
                  <path id="Path_1610" data-name="Path 1610" d="M198.172,373.65,196,375.822l2.172,2.172a9.2,9.2,0,0,0,5.639-1.912v-3.121H200.69A4.922,4.922,0,0,1,198.172,373.65Z" transform="translate(-188.905 -359.46)" fill="#0f9d58"></path>
                  <path id="Path_1611" data-name="Path 1611" d="M55.947,325.477,52.823,328.6a9.415,9.415,0,0,0,.8.913,9.207,9.207,0,0,0,6.553,2.714v-4.344A4.925,4.925,0,0,1,55.947,325.477Z" transform="translate(-50.911 -313.695)" fill="#31aa52"></path>
                  <path id="Path_1612" data-name="Path 1612" d="M265.267,199.448a9.351,9.351,0,0,0-.152-1.679l-.082-.445H256v4.344h4.4a4.9,4.9,0,0,1-1.878,2.014l3.121,3.121a9.417,9.417,0,0,0,.913-.8A9.206,9.206,0,0,0,265.267,199.448Z" transform="translate(-246.733 -190.181)" fill="#3c79e6"></path>
                  <path id="Path_1613" data-name="Path 1613" d="M201.653,5.786l.384.384L205.109,3.1l-.384-.384A9.206,9.206,0,0,0,198.172,0L196,2.172l2.172,2.172A4.891,4.891,0,0,1,201.653,5.786Z" transform="translate(-188.905 0)" fill="#cf2d48"></path>
                  <path id="Path_1614" data-name="Path 1614" d="M60.177,4.344V0a9.207,9.207,0,0,0-6.553,2.714,9.406,9.406,0,0,0-.8.913l3.124,3.124A4.925,4.925,0,0,1,60.177,4.344Z" transform="translate(-50.91 0)" fill="#eb4132"></path>
                </g>
              </g>
            </svg>
            Sign up with Google
          </button>

          <button type="button" class="btn btn_social rounded-8 bg-black c-white">
            <i class="tio apple"></i>
            Continue with Apple
          </button>

        </div>
      </div>
    </div>
{% endblock content %}
