{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

<div class="col-md-7 col-lg-5 mx-auto">
    <div class="item_group">
      <form action="" class="row" method="post">
          {% csrf_token %}
        <div class="col-12">
          <div class="title_sign">
            <h2>Sign Out</h2>
            <p>Are you sure you want to sign out?</p>
          </div>
        </div>
        <div class="col-12">
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="btn w-100 btn_account bg-orange-red c-white rounded-8">{% trans 'Sign Out' %}</button>
              </form>
        </div>

      </form>
    </div>
{% endblock content %}