
<!doctype html>
<html lang="en">
    {% load static %}
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBiz</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'assets/backend/images/favicon.png' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/backend/css/bootstrap.min.css' %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'assets/backend/css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'assets/backend/css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'assets/backend/css/responsive.css' %}">

      <link rel="stylesheet" href="{% static 'assets/backend/css/flatpickr.min.css' %}">

   </head>
   <body>
      <!-- loader Start -->
      <div id="loading">
         <div id="loading-center">
         </div>
      </div>
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         <div class="iq-sidebar">
            <div class="iq-navbar-logo d-flex justify-content-between">
               <a href="index.html" class="header-logo">
               <img src="{% static 'assets/backend/images/logo.png' %}" class="img-fluid rounded" alt="">
               <span>Bizbiz</span>
               </a>
            </div>
            {% include "includes/sidebar.html" %}
         </div>
         <!-- TOP Nav Bar -->
         {% include "includes/topbar.html" %}
         <!-- TOP Nav Bar END -->
         
         <!-- Page Content  -->
         {% block content %}
           
         {% endblock content %}
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Terms of Use</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  Copyright {% now "Y" %} <a href="#">Neotelabs</a> All Rights Reserved.
               </div>
            </div>
         </div>
      </footer>

      {% block script_bottom %}
    <script src="{% static 'django_ledger/bundle/djetler.bundle.js' %}"></script>

    <script>
        {% if entity_slug %}
            let entitySlug = "{{ view.kwargs.entity_slug }}"
        {% endif %}

        {% if from_date and to_date %}
            let fromDate = "{{ from_date | date:'Y-m-d' }}";
            let toDate = "{{ to_date | date:'Y-m-d' }}";
        {% endif %}

        {% if date_navigation_url %}
            let dateNavigationUrl = "{{ date_navigation_url }}"
            let datePickers = document.querySelectorAll("[id^='djl-datepicker']")
            datePickers.forEach(dp => djLedger.getCalendar(dp.attributes.id.value, dateNavigationUrl))
        {% endif %}
    </script>

{% endblock %}

      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'assets/backend/js/jquery.min.js' %}"></script>
      <script src="{% static 'assets/backend/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/backend/js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'assets/backend/js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'assets/backend/js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'assets/backend/js/waypoints.min.js' %}"></script>
      <script src="{% static 'assets/backend/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'assets/backend/js/wow.min.js' %}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'assets/backend/js/apexcharts.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'assets/backend/js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'assets/backend/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'assets/backend/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'assets/backend/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'assets/backend/js/smooth-scrollbar.js' %}"></script>
      <!-- lottie JavaScript -->
      <script src="{% static 'assets/backend/js/lottie.js' %}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'assets/backend/js/core.js' %}"></script>
      <!-- am charts JavaScript -->
      <script src="{% static 'assets/backend/js/charts.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'assets/backend/js/animated.js' %}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'assets/backend/js/kelly.js' %}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'assets/backend/js/maps.js' %}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'assets/backend/js/worldLow.js' %}"></script>
      <!-- Raphael-min JavaScript -->
      <script src="{% static 'assets/backend/js/raphael-min.js' %}"></script>
      <!-- Morris JavaScript -->
      <script src="{% static 'assets/backend/js/morris.js' %}"></script>
      <!-- Morris min JavaScript -->
      <script src="{% static 'assets/backend/js/morris.min.js' %}"></script>
      <!-- Flatpicker Js -->
      <script src="{% static 'assets/backend/js/flatpickr.js' %}"></script>
      <!-- Style Customizer -->
      <script src="{% static 'assets/backend/js/style-customizer.js' %}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'assets/backend/js/chart-custom.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'assets/backend/js/custom.js' %}"></script>
   </body>
</html>